body {
  background-color: rgba(235, 163, 68, 0.2);
}

.box {
  margin-left: 1em;
  margin-right: 1em;
  padding: 1%;
  background-color: rgba(235, 107, 68, 0.2);
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.PIC {
  box-shadow: -10px 10px 10px black;
  border: 5px solid burlywood;
  border-radius: 50%;
  margin-right: 20px;

  float: left;
}

.Intro {
  font-size: 26px;
  font-weight: bolder;
  font-style: normal;
}

.mini-box-img {
  border-radius: 5%;
  /*border: 5px solid rgba(238, 196, 7, 0.849);*/
  margin-right: 50px;
  margin-top: 35px;
  float: left;
}

.mini-box {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  padding: 1%;
  background-color: rgba(235, 107, 68, 0.308);
  border: 2px solid gray;
  border-radius: 10px;
  margin-bottom: 0.5em;
  font-size: 22px;
  font-weight: bolder;
  font-style: normal;
}
